body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

@media only screen and (min-width: 600px) {
  p {
    font-size: 20px;
    line-height: 1.75;
  }
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

@media only screen and (max-width: 800px) {
  .mobileHide { display: none; }
}
@media only screen and (min-width: 799px) {
  .mobileShow { display: none; }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 50px 0;
}


section h2.section-heading {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 40px;
}

@media only screen and (min-width: 600px) {
  section h2.section-heading {
    font-size: 44px;
    margin-top: 0;
    margin-bottom: 65px;
  }
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 600px) {
  section h3.section-heading {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  section {
    padding: 70px 0;
  }
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 25px;
  right: 0;
  padding: 0px;
  text-transform: uppercase;
  color: white;
  border: 0;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  font-size:12px;
  color: white;
  font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand:active {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 9vabar0%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

@media (min-width: 992px) {
    #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:hover {
      color: #fec503;
    }

  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color:white;
    font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 0.9em;
    padding: 12px 0;
  }
}

header.masthead {
  height: 100vh;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: linear-gradient(rgba(8,8,8,0.45), rgba(8,8,8,0.45));
}

@media only screen and (max-width: 600px) {
  header.masthead {
    background-image: linear-gradient(rgba(8,8,8,0.45), rgba(8,8,8,0.45)), url("../img/header/1.jpg");
  }
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


  header.masthead .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

header.masthead .intro-text>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

@media (min-width: 768px) {
   header.masthead .intro-text>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20%;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#about-link {
  margin-top: -50px;
  margin-bottom: -80px;
}

#events-link {
  margin-top: -50px;
  margin-bottom: -80px;
}

#team-link {
  margin-top: 0px;
  margin-bottom: -90px;
}

#events .events-item {
  right: 0;
  margin: 0 0 15px;
}

#events .events-item .events-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#events .events-item .events-link .events-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

#events .events-item .events-link .events-hover:hover {
  opacity: 1;
}

#events .events-item .events-link .events-hover .events-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#events .events-item .events-link .events-hover .events-hover-content i {
  margin-top: -12px;
}

#events .events-item .events-link .events-hover .events-hover-content h3,
#events .events-item .events-link .events-hover .events-hover-content h4 {
  margin: 0;
}

#events .events-item .events-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#events .events-item .events-caption h4 {
  margin: 0;
  text-transform: none;
}

@media only screen and (max-width: 600px) {
  #events .events-item .events-caption h4 {
    font-size: 16px;
  }
}

#events .events-item .events-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
  #events .events-item .events-caption p {
    font-size: 12px;
  }
}

#events * {
  z-index: 2;
}

@media (min-width: 767px) {
  #events .events-item {
    margin: 0 0 30px;
  }
}

.events-modal {
  padding-right: 0px !important;
}

.events-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}

@media (min-width: 1000px) {
  .events-modal .modal-dialog{
    padding-left: 22vw;
    padding-right: 22vw;
  }
}


.events-modal .modal-content {
  padding: 20px 0;
  text-align: center;
}

.events-modal .modal-content h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 600px) {
  .events-modal .modal-content h2 {
    font-size: 44px;
    margin-bottom: 15px;
  }
}


.events-modal .modal-content p {
  margin-bottom: 30px;
}

.events-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.events-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.events-modal .modal-content img {
  margin-bottom: 30px;
}

.events-modal .modal-content button {
  cursor: pointer;
}

.events-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
}

.events-modal .close-modal:hover {
  opacity: 0.3;
}

.events-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 35px;
  margin-left: 17px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.events-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 35px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

@media only screen and (max-width: 600px) {
  .team-member h4 {
    font-size: 16px;
  }
}

.team-member p {
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  .team-member p {
    font-size: 12px;
  }
}

#team .carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  color: #696969;
}

#team .carousel-control-prev-icon,
#team .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
}

#team .carousel-control-next-icon:after
{
  content: '>';
  font-size: 3em;
  font-weight: bold;
  color: #696969;
}

#team .carousel-control-prev-icon:after {
  content: '<';
  font-size: 3em;
  font-weight: bold;
  color: #696969;
}

#team .carousel-indicators li {
  background-color: #696969;
  background-color: rgba(70,70,70,.25);
}

#team .carousel-indicators .active {
  background-color: #696969;
}

section#contact {
  background-color: #212529;
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}
